@import url('https://fonts.googleapis.com/css?family=Yatra+One');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

/* CSS DOCUMENT SETUP */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/* used so that padding and borders will not increase with width and height	*/
}


/* PAGE SETUP */
html, body {
	background-color: #1c1c1a;
	background-size: cover;
	/*height: 100%;
	display: flex;*/
/*	Used so that all chilred to have a height in % amounts */
}



/* NAVIGATION BAR*/
.topnav {
	background:red;
}


/* LINKS INSIDE NAV BAR */
.topnav a {
	font-family: 'Inconsolata', monospace;
	float: right;
    color: #f2f2f2;
    padding: 30px 26px;
	padding-left: 20px;
	padding-right: 20px;
    text-decoration: none;
    font-size: 25px;
}


/* LINKS HOVER */
.topnav a:hover {
/*    background-color: #ddd;*/
    color: #e03f2a;
}



/* ACTIVE LINK */
.topnav a.active {
/*    background-color: #4CAF50;*/
    color: white;
}

